
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ul, ol, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
figure, figcaption, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


* {
  box-sizing: border-box;
}


body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8fa;
  color: #333;
  padding: 20px;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}
.custom-edit-button {
  background-color: #6c757d; 
  color: #fff; 
  border-color: #6c757d; 
}

